body {
font-family: 'Poppins', sans-serif;

background: #F2F2F2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
 
}

.main-container {
width: 1920px;
margin-left: 370px;
margin-right: 297px;
}

.navigation {
position: absolute;
display: flex;   
align-items: center;
margin-top: 27px;
}

.header-container {
margin-left: 370px;
margin-right: 297px;

}

.logo-header{
cursor: pointer;
align-items: center;
}

.logo-name {
font-weight: bold;
font-size: 28px;
line-height: 32px;
color: #FFFFFF;
padding-left: 12px;
align-items: center;
}

.menu {
padding-left: 490px;
align-items: center;
}

.menu-list {
  display: flex;
cursor: pointer;
}

.menu-item {
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #FFFFFF;
list-style: none;
  list-style: none;
  margin-left: 20px;

 
}

.hero {
display: flex;
flex-direction: column;
align-items: center;
width: 1920px
height: 1279px

}

.hero-content {
position: absolute;  
    margin-top: 443px; 
}

.main-title {
font-weight: 600;
font-size: 90px;
line-height: 100px;
text-align: center;
color: #FFFFFF;  
}

.main-title_slogan {
font-weight: 600;
font-size: 18px;
line-height: 32px;
letter-spacing: 0.2px;
text-align: center;
color: #FFFFFF;  
}

.btn {
width: 172px;
height: 54px;
background: linear-gradient(180deg, #050D1D 11.29%, rgba(5, 13, 29, 0) 90.3%);
mix-blend-mode: normal;
opacity: 0.6;
background: #00A031;
border-radius: 27px;
cursor: pointer;
margin-left: 874px;
margin-right: 874px;
margin-top: 54px;
}

.btn-text {
font-size: 18px;
line-height: 22px;
text-align: center;
letter-spacing: 0.1px;
color: #F4FBF6;
}

 /* <!-- Mobile applications --> */

 .mobile-applications{
margin-left: 370px;
margin-right: 344px;
 }

.section-about {
 display: flex;
}

.services-text {
margin-top: 92px;
padding-left: 130px;
}

.services-title {
font-weight: 800;
font-size: 38px;
line-height: 51px;
letter-spacing: 0.4px;
color: #00A031;
margin-bottom: 28px;
}

.services-paragraph {
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;
color: #6C6C6C;
margin-bottom: 28px;
}

.services-item {
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;
color: #6C6C6C;
  list-style: none;
}

.path::after {
background-image: url(../img/path.png);
color: green;
margin-left: 10px;
}

.services-btn {
background-image: url(../img/button-copy.png);
width: 208px;
height: 54px;
border: gainsboro;
margin-top: 32px;
cursor: pointer;
}

.services-autotip {
 width: 413px;
 height: 624px;
margin-top: 92px;
padding-bottom: 192px;
}

 /* <!-- Director section --> */

 .director-section {
margin-left: 370px;
 }

.directot-title {
font-weight: bold;
font-size: 52px;
line-height: 60px;
color: #00A031;
margin-bottom: 10px;
}

.directot-profession {
 font-family: Gilroy;
 font-weight: bold;
font-size: 16px;
line-height: 16px;
letter-spacing: 3px;
text-transform: uppercase;
color: #6C6C6C; 
margin-bottom: 40px;
}

.directot-invention {
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;
color: #6C6C6C;
width: 550px;
margin-bottom: 43px;
}

.social{
font-size: 16px;
line-height: 16px;
letter-spacing: 3px;
text-transform: uppercase;
color: #6C6C6C;
margin-bottom: 70px;
display: flex;
margin-left: 10px;
}

.social-item {
  margin-left: 31px;
  cursor: pointer;
}

.director{
display: flex;
margin-bottom: 202px;
}

.next-prev {
  font-family: Gilroy;
font-size: 16px;
line-height: 16px;
letter-spacing: 1px;
text-transform: uppercase;
color: #00A031;
}

.director-woman {
  font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.2px;
color: #00A031;
}

.director-photo {
  display: flex;
}

.director-photo-name {
  margin-bottom: 9px;
  padding-left: 20px;
}

.director-man{
 margin-left: 123px;
}

/* Mit Us */
.group-us{
  display: flex;
  margin-left: 370px;
  margin-bottom: 190px;
}

/* group-city */
.group-city {
margin-right: 61px;
}

.group-city-title {
  font-weight: bold;
font-size: 52px;
line-height: 60px;
color: #00A031;
margin-bottom: 12px;
}

.group-city-pr{
  font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;
color: #6C6C6C;
margin-bottom: 57px;

}

.city {
  margin-bottom: 40px;
  padding-right: 10px;

}

.contact-icon-city {
display: inline-flex;
justify-content: center;
align-items: center;
}

.city-title{
 font-size: 17.929px;
line-height: 28px;
letter-spacing: 0.199212px;
color: #00A031; 
}

.city-pr{
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;
color: #6C6C6C;
}

/* group-contact */
.group-contact-box {
  margin-bottom: 21px;
}

.group-contact{
  position: absolute;
  margin-left: 850px;
  margin-top: 162px;
  width: 321px;
  height: 496px;
background: #FFFFFF;
opacity: 0.7;
box-shadow: 0px 39.8423px 39.8423px rgba(0, 0, 0, 0.0758039);
padding-left: 57px;
padding-top: 26px;
}

.contact-icon {
display: inline-flex;
align-items: center; 
}

.group-contact-title {
  font-size: 37.8502px;
line-height: 51px;
letter-spacing: 0.398423px;
color: #1C201E;
margin-bottom: 8px;
}

.group-contact-pr {
 font-weight: normal;
font-size: 15.9369px;
line-height: 24px;
letter-spacing: 0.199212px;
color: #6C6C6C; 
margin-bottom: 30px;
}

.contact-box-title{
font-weight: 600;
font-size: 17.929px;
line-height: 28px;
letter-spacing: 0.199212px;
color: #1C201E;
padding-left: 12px;
}

.contakt {
  font-weight: normal;
font-size: 13.9448px;
line-height: 24px;
letter-spacing: 0.199212px;
color: #999999;
}

/* Footer */

.footer{
  background: #222222;
  height: 344px;
width: 1920px;
padding-top: 120px;
}

.footer-container{
  margin-left: 370px;
  margin-right: 340px;
  text-align: center;

}
 
.logo-footer{
font-weight: bold;
font-size: 46px;
line-height: 32px;
color: #FFFFFF;
cursor: pointer;
}

.menu-list{
 margin-left: 370px;
  margin-right: 340px;
  text-align: center;
}

.menu-item-footer{
 font-size: 16px;
line-height: 16px;
letter-spacing: 3px;
text-transform: uppercase;
color: #777777;
margin-left: 40px; 
margin-top: 54px;
cursor: pointer;
}
